@media print {
  svg,
  .top-bar,
  .no-print,
  footer {
    display: none; }

  header a[href]:after {
    content: ""; }
  header h1 {
    text-align: center; }
    header h1 small {
      text-align: center; }

  a {
    text-decoration: none; }

  h1 {
    font-size: 16pt;
    font-weight: bold; }

  h2 {
    font-size: 16pt;
    font-weight: normal;
    text-decoration: underline; }

  h3 {
    font-size: 14pt;
    font-weight: bold; }

  h4 {
    font-size: 14pt;
    font-weight: normal;
    text-decoration: underline; }

  p,
  li {
    font-size: 10pt; }

  .info-pane ul li {
    padding-top: 0;
    padding-bottom: 0; } }
