section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

section:nth-of-type(even) {
  background: $c-grey-light;

  .info-pane {
    background: $c-grey-lighter;

    ul {

      li {
        border-bottom: 1px solid $c-grey-light;
      }
    }
  }

  svg.info-pane-begin,
  svg.info-pane-end {

    path.background {
      fill: $c-grey-lighter;
    }

    path.main {
      fill: $c-grey-light;
    }
  }
}


svg.section-begin,
svg.section-end,
svg.info-pane-begin,
svg.info-pane-end {
  width: 100%;
  margin-bottom: -2px;

  path.small-only {
    display: none;
  }
}

svg.section-begin,
svg.section-end {
  path.main {
    fill: $c-grey-light;
  }

  path.accent {
    fill: $c-secondary;
  }
}

svg.info-pane-begin,
svg.info-pane-end {
  path.main {
    fill: $c-grey-lighter;
  }

  path.accent {
    fill: $c-secondary;
  }

  path.background {
    fill: $c-grey-light;
  }
}

svg.info-pane-end {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

@media #{$small-only} {
  svg.section-begin,
  svg.section-end {
    height: 2rem;

    path.main,
    path.accent {
      display: none;
    }

    path.small-only {
      display: block;
    }
  }

  svg.info-pane-begin,
  svg.info-pane-end {
    height: 2rem;
  }
}

@media #{$medium-up} {
  svg.section-begin,
  svg.section-end {
    height: 3rem;
  }

  svg.info-pane-begin,
  svg.info-pane-end {
    height: 2rem;
  }
}

@media #{$large-up} {
  svg.section-begin,
  svg.section-end {
    height: 4rem;
  }
}
