<div class="contain-to-grid fixed nav-bar">
  <top-bar>
    <ul class="title-area">
      <li class="name">
        <h1><a ui-sref="home">Stephen A. Wilson</a></h1>
      </li>
      <li toggle-top-bar class="menu-icon"><a href="#">Menu</a></li>
    </ul>

    <top-bar-section>
      <ul class="right">
        <li>
          <a href="mailto:stephen-356@hotmail.com">stephen-356@hotmail.com</a>
        </li>
        <li class="divider"></li>
        <li ui-sref-active="active">
          <a ui-sref="home">Home</a>
        </li>
        <li class="divider"></li>
        <li ui-sref-active="active">
          <a ui-sref="resume">Résumé</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="https://github.com/SpyMaster356" target="_blank">GitHub</a>
        </li>
        <li class="divider"></li>
        <li ui-sref-active="active">
          <a ui-sref="projects">Projects</a>
        </li>
      </ul>
    </top-bar-section>
  </top-bar>
</div>
