<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="resume">
        <img class="logo-brand" src="assets/images/logo-foreground.svg" alt="Stephen A. Wilson" />
        Stephen A. Wilson
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <!-- <li ui-sref-active="active"><a ui-sref="main">Home</a></li> -->
        <li ui-sref-active="active"><a ui-sref="resume">Resume</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="mailto:stephen-356@hotmail.com">Stephen-356@hotmail.com</a></li>
        <li><a href="https://github.com/SpyMaster356" target="_blank">Github</a></li>
      </ul>
    </div>
  </div>
</nav>
