<div class="row">
  <div class="small-12 columns medium-text-center">
    <h2>Contact</h2>
  </div>
  <div class="small-12 medium-6 columns medium-text-right">
    <h4>Email</h4>
    <a href="mailto:Stephen-356@hotmail.com">Stephen-356@hotmail.com</a>
  </div>
  <div class="small-12 medium-6 columns">
    <h4>Google Plus</h4>
    <a href="https://plus.google.com/u/0/+StephenWilson356/" target="_blank">+StephenWilson356</a>
  </div>
  <div class="small-12 medium-6 columns medium-text-right">
    <h4>Twitter</h4>
    <a href="https://twitter.com/SpyMaster356" target="_blank">@SpyMaster356</a>
  </div>
  <div class="small-12 medium-6 columns">
    <h4>GitHub</h4>
    <a href="https://github.com/SpyMaster356" target="_blank">SpyMaster356</a>
  </div>
</div>

