<div class="row">
  <div class="small-12 columns medium-text-center">
    <h2>Languages</h2>
  </div>
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 large-4 columns">
        <h3>PHP</h3>
        <p>
          Although I seem to be in the minority, PHP is my preferred web
          language, due to how common it is. I have worked with PHP throughout
          my College career, and used it extensively at One More Story Games
          during my co-op there.
        </p>
      </div>

      <div class="small-12 large-4 columns">
        <h3>JavaScript</h3>
        <p>
          Over the last four months I have worked on an Angular app with other
          students at Georgian Collage as part of our schooling. I have enjoyed
          working with JavaScript because of it's simplicity, and power. In my
          work, I have used both JQuery and recently Angular.
        </p>
      </div>

      <div class="small-12 large-4 columns">
        <h3>SQL</h3>
        <p>
          Although I often look for libraries to handle database interactions,
          I am quite familiar with SQL queries, and am able to write my own SQL when
          a library doesn't cover what I need. In the past I have worked with
          PostgreSQL servers, but my favorite flavour is MySQL because of its
          widespread usage.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <p>Other languages that have worked with in the past include:</p>
        <ul>
          <li>Ruby/Ruby on Rails</li>
          <li>asp.NET</li>
          <li>Mustache</li>
        </ul>
      </div>
    </div>
  </div>
</div>
