<div class="row">
  <div class="small-12 columns medium-text-center">
    <h2>Languages &amp; Frameworks</h2>
  </div>
  <div class="small-12 columns">
    <div class="row">
      <div class="small-6 columns">
        <div class="row">
          <div class="small-12 columns">
            <h3>JavaScript</h3>
            <hr/>
          </div>
        </div>
        <div class="row">
          <div class="small-4 columns">
            <h4>Node.js</h4>
          </div>
          <div class="small-4 columns">
            <h4>Sails.js</h4>
          </div>
          <div class="small-4 columns">
            <h4>Angular.js</h4>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns">
        <p>Other languages that have worked with in the past include:</p>
        <ul>
          <li>Ruby/Ruby on Rails</li>
          <li>asp.NET</li>
          <li>Mustache</li>
        </ul>
      </div>
    </div>
  </div>
</div>
