code {
  .keyword {
    color: $c-grey;
  }

  .method {
    color: $c-secondary-light;
  }

  .attibute {
    color: $c-complement-lighter;
  }

  .variable {
    color: $c-primary-light;
  }

  .class {
    color: $c-accent-light;
  }

  .string {
    color: $c-accent-lighter;
  }
}
