$c-primary-lighter:    #FF2312;
$c-primary-light:      #E01000;
$c-primary:            #B90E00;
$c-primary-dark:       #940B00;
$c-primary-darker:     #660700;

$c-secondary-lighter:  #FF6D12;
$c-secondary-light:    #E05600;
$c-secondary:          #B94700;
$c-secondary-dark:     #943900;
$c-secondary-darker:   #662700;

$c-accent-lighter:     #0CAC88;
$c-accent-light:       #009070;
$c-accent:             #00785D;
$c-accent-dark:        #005F4A;
$c-accent-darker:      #004233;

$c-complement-lighter: #0EC82F;
$c-complement-light:   #00AB1E;
$c-complement:         #008E19;
$c-complement-dark:    #007114;
$c-complement-darker:  #004E0E;

$c-grey-lighter:       #FAFAFA;
$c-grey-light:         #E0E0E0;
$c-grey:               #666666;
$c-grey-dark:          #3C3C3C;
$c-grey-darker:        #101010;
