header {
  background-color: $c-primary-dark;

  h1 {
    background: none;
    color: $c-grey-darker;

    font-weight: bold;

    a {
      color: $c-secondary-light;
    }

    a:hover {
      color: $c-secondary-lighter;
    }

    small {
      font-weight: normal;
      display: inline-block;
      width: 100%;
      text-align: right;
      line-height: 1em;
    }
  }
}
