@media #{$small-up} {
  .small-text-left {
    text-align: left;
  }

  .small-text-center {
    text-align: center;
  }

  .small-text-right {
    text-align: right;
  }

  .small-text-justify {
    text-align: justify;
  }
}

@media #{$medium-up} {
  .medium-text-left {
    text-align: left;
  }

  .medium-text-center {
    text-align: center;
  }

  .medium-text-right {
    text-align: right;
  }
  .medium-text-justify {
    text-align: justify;
  }
}

@media #{$large-up} {
  .large-text-left {
    text-align: left;
  }

  .large-text-center {
    text-align: center;
  }

  .large-text-right {
    text-align: right;
  }

  .large-text-justify {
    text-align: justify;
  }
}

@media #{$xlarge-up} {
  .xlarge-text-left {
    text-align: left;
  }

  .xlarge-text-center {
    text-align: center;
  }

  .xlarge-text-right {
    text-align: right;
  }

  .xlarge-text-justify {
    text-align: justify;
  }
}

@media #{$xxlarge-up} {
  .xxlarge-text-left {
    text-align: left;
  }

  .xxlarge-text-center {
    text-align: center;
  }

  .xxlarge-text-right {
    text-align: right;
  }

  .xxlarge-text-justify {
    text-align: justify;
  }
}
