@import "../mixins";
@import "../variables";

.TechItem {
  padding: 4px;
  display: inline-block;
}

.StrengthBar {
  display: flex;
}

.StrengthBarSegment {
  @include tilted-bg($colour-white-dark);

  height: 5px;
  margin: 2px;

  &.filled::before {
    background-color: $colour2;
  }
}
