$colour1:      #F6B149;
$colour1-dark: #E5900B;

$colour2:      #F8572D;
$colour2-dark: #CF3007;

$colour3:      #DF2A33;
$colour3-dark: #A2181F;

$colour-accent:      #A22543;
$colour-accent-dark: #621628;

$colour-page:      #6B312D;
$colour-page-dark: #331715;

$colour-text-light: #E6E6E6;
$colour-text-dark:  #1E1E1E;
