main {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    background: none;

    color: $c-grey-darker;

    small {
      color: $c-grey;
    }
  }

  @import "section";

  h2.subtitle {
    font-size: 1.5rem
  }
}

.info-pane {
  background: $c-grey-light;

  margin-bottom: 1rem;

  padding: 0.5rem;
  padding-top: 0;
  padding-bottom: 0;

  ul {
    list-style: none;

    margin: 0;

    padding: 0;

    li {
      border-bottom: 1px solid $c-grey-lighter;
      color: $c-grey-dark;

      margin-right: -0.5rem;
      margin-left: -0.5rem;

      padding-right: 1rem;
      padding-left: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    li:last-child {
      border-bottom: none;
    }
  }
}

.panel {
  border-width: 3px;
  border-color: $c-secondary;
}

.top-bar {
  a {
    transition: background 0.5s;
  }
}

/* Fix Svg images in IE */
img[src*=".svg"] {
  width: 100%\9;
}

@media screen and (min-width:0\0) {
  img[src*=".svg"] {
    width: 100%;
  }
}

