@import "../AppStyles/index";

.Page {
  display: grid;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  grid-template-rows: auto 1fr;
  grid-template-columns: 200px 1fr;

  grid-template-areas:
    'header header'
    'sidebar main';

  @media screen and (max-width: $screen-size-sm) {
    grid-template-columns: 1fr;
    grid-template-areas:
    'header'
    'main';
  }
}

.areaHeader {
  grid-area: header;
}

.areaSidebar {
  grid-area: sidebar;
}

.areaMain {
  display: grid;
  overflow: auto;
  grid-area: main;
  grid-template-rows: 1fr auto;
}
