@import "../AppStyles/index";

.Page {
  display: grid;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  grid-template-rows: auto 1fr;
  grid-template-columns: 200px 1fr;

  grid-template-areas:
    'header header'
    'sidebar main';
}

.areaHeader {
  grid-area: header;
}

.areaSidebar {
  grid-area: sidebar;
}

.areaMain {
  grid-area: main;
  display: grid;
  overflow: auto;
  grid-template-rows: 1fr auto;
}
