@import "../AppStyles/index";

.PageHeader {
  position: relative;
  z-index: 10;
  display: flex;

  align-items: flex-start;
  width: 100%;

  padding-top: 16px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: $sidebar-width;
    height: 100%;
    content: '';
    background-color: $colour-sidebar;
  }

  @media screen and (max-width: $screen-size-sm) {
    &::before {
      width: 100%;
    }
  }
}
