@mixin tilted-bg($colour) {
  position: relative;
  z-index: 0;
  padding-left: 10px;
  padding-right: 10px;

  &::before {
    content: '';

    background-color: $colour;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    z-index: -10;

    transform: skewX(-10deg);
  }
}

@mixin section-header {
  @include tilted-bg($colour3)
}
